amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery==5.5.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
Django==5.2
django-redis==5.4.0
djangorestframework==3.16.0
flower==2.0.1
humanize==4.12.2
kombu==5.5.3
prometheus_client==0.21.1
prompt_toolkit==3.0.51
psycopg==3.2.6
python-dateutil==2.9.0.post0
pytz==2025.2
redis==5.2.1
six==1.17.0
sqlparse==0.5.3
tornado==6.4.2
typing_extensions==4.13.2
tzdata==2025.2
vine==5.1.0
wcwidth==0.2.13
gunicorn>=22.0.0
django-cors-headers==3.13.0
python-decouple==3.6
drf-spectacular==0.26.4
drf-yasg==1.21.7
djangorestframework-simplejwt==5.3.1
pillow==12.2.0
django-filter==25.2
setuptools==69.5.1
